*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: product sans;
    
}
html,
body{
    width: 100%;
    height: 100%;
}
#main{
    padding: 30px;
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    /* flex-wrap: wrap; */
    
}
#img{
    margin: 20px;
    height: 60%;
    width: 20%;
    position: relative;
}
img{ 
    /* flex-wrap: wrap; */
    /* margin: 20px; */
    /* background-position: center;
    background-size: cover; */
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: cadetblue;
}
button{
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    top: 88%;
    left: 82.5%;
    position: absolute;
}
span{
    position: absolute;
    top: 0%;
    left: 0%;
    color: white;
}