*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
    padding: 50px;
}
#panel{
    height: 90%;
    width: 50%;
    background-color: burlywood;
    border-radius: 20px;
    padding: 20px;
}
input{
    position: absolute;
    top: 5%;
    left: 10%;
    border-radius: 10px;
}
#chat{
    margin: 20px;
}