*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding: 40px;
    background-color:blueviolet;
}
#panel{
    margin: 20px;
    border-radius: 20px;
    height: 60%;
    width: 20%;
    background-color: brown;
}